<div class="new-post-form">
  <h1>Create a new post</h1>
</div>

<%= form_with model: Post, url: user_posts_path, class: 'post-form', method: :post do |f| %>
  <div class="newpost-title">
    <%= f.label :title, 'Post title: '%>
    <%= f.text_field :title, placeholder: 'Write the title of your post here', :required => true, class: 'new-title'%>
  </div>

   <div class="newpost-text">
    <%= f.label :text, 'Post content:' %>
    <%= f.text_area :text, placeholder: 'Write your post here', :required => true, class: 'new-text' %>
  </div>
  
  <%= f.submit "Submit", class: 'submit-post' %>
<%end%>