<main>
  <section class="post-section">
    <h2>Information for post</h2>
    <article class="post-info">
      <div class="post-card">
        <h3><%= @post.title %> by user: <%= @user.name %></h3>
        <p>Number of comments: <%= @post.comments_counter %> - Number of likes: <%= @post.likes_counter %></p>
        <p class="post-text"><%= @post.text %></p>
      </div>
    </article>

    <article class="comments">
      <ul class="total-comments">
        <% @post.comments.each do |comment|%>
          <li class="comment"><%= comment.author.name %>: <%= comment.text %></li>
        <% end %>
      </ul>
    </article>

    <h3>Make a new comment on this post</h3>
    <%= form_with url: user_post_comments_url(@user, @post), method: :post, local: true, scope: :comment do |f| %>
      <div class="comment-area">
        <%= f.label :text, "Enter your comment here"%><br>
        <%= f.text_area :text, class: 'text-area', id: 'text-area'%>
      </div>
      <%= f.submit "Create comment", class: 'submit-comment' %>
    <% end %>
    <%= link_to user_posts_path(@user) do %>
      <button class="see-all-button">Back to list of posts</button>
    <% end %>
  </section>
</main>